<a href="https://colab.research.google.com/github/Switej08/Python-Programming-II/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 1 


SECTION A
1. Write a python programme to print "hello python"

In [ ]:
a="hello python"

In [ ]:
a

'hello python'

2.Write a python programme to do arithmetical operations that is addition and division

In [ ]:
a=5

In [ ]:
b=2.5

In [ ]:
a+b

7.5

In [ ]:
a-b

2.5

In [ ]:
a*b

12.5

In [ ]:
a/b

2.0

3. Write a python programme to find area of a triangle

In [ ]:
l=10

In [ ]:
b=5

In [ ]:
area=0.5*l*b

In [ ]:
area

25.0

  4. Write a python programme to swap to variables

In [ ]:
s=10

In [ ]:
r=5

In [ ]:
temp=s

In [ ]:
s=r

In [ ]:
y=temp

In [ ]:
(format(s))

'5'

5. Write a python programme to generate a random number

In [ ]:
import random

In [ ]:
num=random.random()

In [ ]:
num

0.7209349575494096

SECTION B

1.Write a python programme to convert kilometers to miles

In [ ]:
km=50

In [ ]:
conv_fac=0.621371

In [ ]:
miles=km*conv_fac

In [ ]:
miles

31.068550000000002

2. Write a python programme to convert celsius to fahrenheit

In [ ]:
c=100

In [ ]:
f=(c*1.8)+32

In [ ]:
f

212.0

3. Write a python programme to display calendar

In [ ]:
import calendar

In [ ]:
yy=2022

In [ ]:
mm =8

In [ ]:
dd=20

In [ ]:
(calendar.month(yy,mm,dd))

'                                                                   August 2022\n       Monday              Tuesday             Wednesday             Thursday              Friday              Saturday              Sunday\n          1                    2                    3                    4                    5                    6                    7\n          8                    9                   10                   11                   12                   13                   14\n         15                   16                   17                   18                   19                   20                   21\n         22                   23                   24                   25                   26                   27                   28\n         29                   30                   31\n'

4. Write a python programme to solve quadratic equation.

In [ ]:
a=5

In [ ]:
b=10

In [ ]:
c=2

In [ ]:
z=(b**2)-(4*a*c)

In [ ]:
z

60

5. Write a python programme to swap to variables without temp variable

In [ ]:
x=20

In [ ]:
y=10

In [ ]:
x=x+y

In [ ]:
y=x-y

In [ ]:
x=x-y

In [ ]:
("after swapping:","x=",x,"y=",y )

('after swapping:', 'x=', 10, 'y=', 20)

SECTION C

1. Write a python programme to check if the number is positive ,negative or zero

In [ ]:
num=float(input("enter the number:"))
if num>0:
  print("positive number")
elif num<0:
  print("negative number")
else:
  print("zero")

enter the number:123
positive number

2.  Write a python programme to check if the number is odd or even

In [ ]:
number=int(input("ënter the number"))
if (number%2)==0:
  print("number is even")
else:
  print("number is odd")

ënter the number10
number is even

3. Write a python programme to check a leap year

In [ ]:
year= 2022
if(year% 400==0) and (year% 100==0):
  print("{0} is leap year".format(year))
elif(year% 4==0)  and(year% 100==0):
  print("{0} is leap year".format(year))
else:
  print("{0} is not a leap year".format(year))

2022 is not a leap year

4.  Write a python programme to check prime number

In [ ]:
num=30
f= False
if num>1:
  for i in range(2,num):
    if (num%i)==0:
      f= True
      break
if f:
  print("num is not a prime number")
else:
  print("num is prime number")

num is not a prime number

5. Write a python programme to print all prime numbers in interval of 1-10000

In [ ]:
def prime(x,y):
  prime_list=[]
  for i in range (x,y):
    if i==0 or i==1:
      continue
    else:
      for j in range (2,int(i/2)+1):
        if i%j==0:
          break
      else:
        prime_list.append(i)       
  return prime_list

starting_range=1
ending_range=10000
lst= prime(starting_range, ending_range)   
if len(lst)==0:
  print("there are no prime numbers in this range ") 
else:
  print("the prime number in this range are:",lst)

the prime number in this range are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

SECTION D

1. Write a python programme to find factorial of a number

In [ ]:
num=7
factorial =1
if num<0:
  print("no factorial of negative number")
elif num==0:
   print("factorial of 0 is 1")
else:
   for i in range(1,num+1):
     factorial=factorial*i
   print("factorial of ",num, "is", factorial)

factorial of  7 is 5040

2. Write a python programme to display the multiplication table

In [ ]:
num=20
for i in range (1,11):
  print(num,'x',i,'=',num*1)

20 x 1 = 20
20 x 2 = 20
20 x 3 = 20
20 x 4 = 20
20 x 5 = 20
20 x 6 = 20
20 x 7 = 20
20 x 8 = 20
20 x 9 = 20
20 x 10 = 20

3. Write a python program to print the fibonacci sequence

In [ ]:
nterms=int(input("how many terms"))
n1,n2 =0,1
count=0
if nterms <=0:
  print("please enter positive integer")
elif nterms==1:
  print("fibonacci sequence is upto",nterms,":")
  print(n1)
else: 
  print("fabonacci sequence :") 
  while count< nterms:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count +=1

how many terms20
fabonacci sequence :
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

4. Wrte a python programme to check armstrong number

In [ ]:
n=int(input("enter the number"))
s=n #assigning input value to the s variable
b=len(str(n))
sum1=0
while n!=0:
  r=n%10 
  sum1=sum1+(r**b)
  n=n//10
if s==sum1:
  Print("the given number",s,"is armstrong number")
else:
  print("the given number",s,"is not armstrong number")

enter the number10
the given number 10 is not armstrong number

5. Write a python programme to find armstrong number in an  interval

In [ ]:
lower=100
upper=2000
for i in range(lower,upper+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum +=digit**order
    temp//=10
  if num==sum:
    print(num)

6.  Wrtite a python programme to find the sum of natural numbers

In [ ]:
num=16
if num<0:
  print("enter the positive number")
else:
  sum=0
  while(num>0):
    sum+=num
    num-=1
  print("the sum is ",sum)

the sum is  136

SECTION E

1. Write a python progamme to find the sum of array

In [ ]:
arr=[1,2,3,4,5,6,7,8,9]
sum=0

for i in range (len(arr)):
  sum=sum+arr[i]
print(sum)

45

2.Write a python progamme to find largest element in array

In [ ]:
 def largest(arr,n):
     arr.sort()
     return arr[n-1]
 arr=[10,324,45,90,9808]
 n=len(arr)
 Ans=largest(arr,n)
 print("largest in given array",Ans)

largest in given array 9808

3.Write a python progamme for array rotation

In [ ]:
def rotateArray(arr,n,d):
  temp=[]
  i=0
  while(i<d):
    temp.append(arr[i])
    i=i+1
  i=0
  while (d<n):
    arr[i]=arr[d]
    i=i+1
    d=d+1
  arr[:]=arr[:i]+temp
  return arr

arr=[1,2,3,4,5,6,7] 
print("array after left rotation is:",end='')
print(rotateArray(arr,len(arr),2))

array after left rotation is:[3, 4, 5, 6, 7, 1, 2]

4. Write a python programme to split array and first part to the end

In [ ]:
def splitArr(arr,n,k):
  for i in range(0,k):
    x=arr[0]
    for j in range(0,n-1):
      arr[j]=arr[j+1]

    arr[n-1]=x
arr=[12,10,5,6,52,36]
n=len(arr)
position=2
splitArr(arr,n,position)
for i in range(0,n):
    print(arr[i],end=' ')

5 6 52 36 12 10

5. Write a python programme to check if the given array is monotonic

In [ ]:
def isMonotonic(A):
  return(all(A[i]<=A[i+1] for i in range (len(A)-1)) or
         all(A[i]>=A[i+1] for i in range (len(A)-1)))
A=[6,5,4,4]  
print(isMonotonic(A))

True

SECTION F

1. Write a python programme to find sum of elements in the list

In [ ]:
total=0
list1=[15,25,45,250,78]
for ele in range (0,len(list1)):
    total=total+list1[ele]
print("sum of all elements in the given list:",total)

sum of all elements in the given list: 413

2. Write a python programme to multiply all elements in the list

In [ ]:
def multiplylist(mylist):
  result=1
  for x in mylist:
    result=result*x
  return result
list1=[1,2,3]
list2=[3,2,5]
print(multiplylist(list1))
print(multiplylist(list2))

6
30

3. Write a python programme to find smallest number in the list

In [ ]:
list1=[50,35,75,85,65,10,25]
list1.sort()
print("smallest number is :", list1[:1])

smallest number is : [10]

4. Write a python programme to find largest number in a list

In [ ]:
list1=[25,48,458,425,1256,124,85]
list1.sort()
print("largest number is ", list1[-1])

largest number is  1256

5. Write a python programme to find second largest number in the list

In [ ]:
list1=[25,21,35,658,75,214,556,89,452,469]
list2=list(set(list1))
list2.sort()
print("second largest element is ",list2[-2])

second largest element is  556

6. Write a python progamme to find N largest elements from a list

In [ ]:
l=[100,230,3578,65,385925,56302,546,6233,85]
n=4
l.sort()
print(l[-n:])

[3578, 6233, 56302, 385925]

7. Write a python progamme to print even numbers in a list

In [ ]:
list1=[865,235,69,856,4258,12,359,78]
for num in list1:
  if num%2==0:
    print(num,end=" ")

856 4258 12 78

8. write a python programme to print odd numbers in the list

In [ ]:
list1=[865,45,968,125,967,236554,546,56,55,545]
for num in list1:
  if num%2!=0:
    print(num,end=" ")

865 45 125 967 55 545

9. Write a python programme to remove empty list from the list

In [ ]:
test_list=[5,6,[],3,[],[],35,[]]
print("the original list is :" + str(test_list))
while [] in test_list:
  test_list.remove([])
print("list after empty list removal:" +str(test_list))

the original list is :[5, 6, [], 3, [], [], 35, []]
list after empty list removal:[5, 6, 3, 35]

10.write a python program to cloning or copying a list

In [ ]:
def cloning(li1):
  li_copy=li1[:]
  return li_copy
li1=[4,25,638,12,45,8,5,56]
li2=cloning(li1)
print("original list:",li1)
print("after list",li2)

original list: [4, 25, 638, 12, 45, 8, 5, 56]
after list [4, 25, 638, 12, 45, 8, 5, 56]

11. write a python programme to count occurence of element in a list

In [ ]:
def countX(lst,x):
  count=0
  for ele in lst:
    if (ele==x):
      count=count +1
    return count
lst=[8,5,8,5,4,6,8,5,2,3,8,2,7]     
x=8
print('{} has occured {} times'.format(x,countX(lst,x)))

8 has occured 1 times